ul {
  color: blue;
}
ol {
  background-color: rgb(202, 229, 229);

  margin: 4px;
  padding: 5px;
  border-radius: 3px;
}
.shawon .visit {
  color: blue;
  font-weight: 700;
}

#btn-yellow {
  margin: 20px;
  padding: 30px;
  color: blue;
  border-radius: 20px;
  background-color: #70704a;
}
