#menu ul {
  text-align: center;
  margin-top: 25px;
}
#menu button {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  line-height: 100px;
}
#red {
  background-color: #e55d5d;
}
#blue {
  background-color: #9898eb;
}
#green {
  background-color: #6ee96e;
}
#yellow {
  background-color: #dddd51;
}
