ul {
  color: blue;
}
ol {
  background-color: rgb(202, 229, 229);
  border: 1px solid red;
  margin: 4px;
  padding: 5px;
  border-radius: 3px;
}
.shawon .visit {
  color: blue;
  font-weight: 700;
}
